body{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
div{
    display:block;
}
.header-name{
    font-family: "Sacramento", cursive;
}

.header {
    background-color: #edecea;
    position:relative;
    padding: 120px;
}
h1{
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}
h2{
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;

}
.title-text {
    
}
.apro-header{
    
}

  
.img-header {
    position:absolute;
    left:10px;
    top: 10px;
  }
  
  /* Other styles remain the same */
  

.direction-Pro{
    text-decoration: underline;
    
}

.feature{
    display:flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar-feature{
    border-radius: 50%;
}

.footer-background{
    background: #dee2e6;
}
.constract-header{
    text-align: center;
}

@media (max-width: 768px)
{
    .header{
        height: 65vh;
    }
}